/train-image
/train-image-decalle
/train-image-decalle-plus
/train-image-decalle-banger
/train-image-decalle-banger-2

/retrain-image
/to-validate-image
/test-image
/temp-image
/numpy-array
/data-brut

__pycache__/